<div>
  <h2>The Oven<h2>
    <div>
      <h3>Top</h3>
      <p>Dials</p>
      {{> oven.top.dials }}
      <p>Stove Top</p>
      {{> oven.top.burners }}
    </div>

    <div>
      <h3>Rack</h3>
      {{> oven.rack.grille }}
    </div>

    <div>
      <h3>Filter</h3>
      {{> oven.filter.handle }}
      {{> oven.filter.collector }}
    </div>
</div>
